<div class="hero pl-0 pr-0">
  <h2 class="mb-3 text-center">ADD YOUR COCKTAIL</h2>
  <div class="container col-md-6">
    <%= simple_form_for @cocktail do |c| %>
      <%= c.input :name %>
      <%= c.input :photo, input_html: { class: "" } %>
      <%= c.input :photo_cache, as: :hidden %>
      <%= c.submit class: "btn-tipsy" %>
    <% end %>
  </div>
</div>
